.latestarticles-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 100%;
}

.latestarticles .divider{
    margin: 0;
}

.latestarticles .content {
    display: flex;
    flex-flow: row;
    width: 75%;
    margin: 0;
    margin-bottom: 15px;
    padding: 20px;
    margin-top: 8px;
}

.content.small img {
    height: auto;
}

.content.small .card-content h2{
    font-size: 1.3em;
    width: 85%;
}

.content.small .card-content .description{
    margin-left: 0;
    height: 60px;
}



.content.small .card-content .meta-container {
    position: relative;
    top: 0;
    bottom: 0;
}

.latestarticles {
    position: relative;
    display: flex;
    flex-flow: column;
    height: auto;
    width: 70%;
}
.content img {
    width: 240px;
    height: auto;
    
}

.content .card-content {
    display: flex;
    flex-flow: column;
    height: auto;
    position: relative;
    justify-content: space-between;
    
    margin: 0;
    margin-left: 30px;
    
}

.content .card-content .description {
    margin-left: 10px;
    overflow: hidden;
}

.content .card-content .meta-container {
    left: 0;
    bottom: 0;
    
    top: 100%;
}
.content .card-content h2 {
    font-size: 1.9em;
    margin: 0;

}

.load-more {
    display: flex;
    position: relative;
    bottom: 0;
    justify-content: space-evenly;
    margin-left: 30px;
    width: 13%;
    align-items: center;
}

.load-more span {
    font-size: 1.3em;
    font-weight: 400;
    color: rgba(255, 0, 0, 0.5);
}

.load-more span:nth-child(3){
    display: none;
}

.load-more p{
    display: inline;
    text-transform: uppercase;
    font-size: 0.82em;
    font-weight: 500;
    color: rgb(175, 175, 175);
}

@media screen and (max-width: 500px) {

    .latestarticles-container {
        flex-flow: column;
    }

    .latestarticles {
        width: 100%;
    }

    .latestarticles .content {
        padding: 0;
        margin: 40px 0;
        width: auto;
    }
    .content img,
    .content.small img {
        width: 110px;
        height: auto;
    }

    .content .card-content {
        margin-left: 10px;
    }
    
    .latestarticles .content .card-content h2 {
        font-size: 1.14em;
        width: 100%;
    }

    .content .card-content .description {
        margin-left: 0;
        overflow: hidden;
        line-height: unset;
        font-size: 0.8em;
        margin: 8% 0;
        height: 30px;
        width: 100%;
    }

    .content .card-content .meta-container {
        top: 0;
        font-size: 0.8em;
    }

    .load-more {
        justify-content: flex-start;
        width: 100%;
        margin: 0;
    }

    .load-more span:nth-child(1){
        display: none;
    }

    .load-more span:nth-child(3){
        display: initial;
        margin: 0 10px;
    }
}

