.tags-container {
    display: flex;
    flex-flow: row;
    height: auto;
    align-items: center;
    margin-bottom: 10px;
    /* justify-content: space-between; */
    
}

.tags-container .tag {
    padding: 6px 8px;
    margin-right: 20px;
    font-size: 0.8em;
    background-color: rgba(221, 221, 221, 0.514);
    color: rgb(168, 168, 168);
    box-shadow: 0 0 2px 1px rgba(243, 243, 243, 0.692);
}

@media screen and (max-width: 500px){

    .tags-container {
        width: 100%;
        flex-wrap: wrap;
        height: auto;
        margin: 0;
    }

    .tags-container .tag {
        margin-bottom: 10px;
    }
    
}