.App{
  margin: 0 auto;
  width: 80%;
}

.App.max-width {
  width: 100%;
}

img {
  object-fit: cover;
}

h2 {
  color: rgba(36, 36, 36, 0.952);
  font-weight: 500;
}

.post-link {
  text-decoration: none;
}

a {
  color: inherit;
  transition: all 0.2s;
}

a:hover {
    color: rgba(255, 0, 0, 0.76);
}

a:active{
  color: rgba(255, 0, 0, 0.603);
}


@media screen and (max-width: 500px) {
   
}